* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 user-select: none;
}
:root {
 --background-color: #111;
 --text-color: #aaa;

 --text-size: clamp(20px, 4vw, 40px);
}
body {
 width: 100vw;
 height: 100svh;
 background: var(--background-color);
 color: var(--text-color);
 font-size: var(--text-size);
 font-family: monospace;

 display: flex;
 justify-content: center;
 align-items: center;
}

div {
 width: 100px;
 aspect-ratio: 1;
 background: orange;
 position: absolute;
 top: 70%;
 left: 90%;
 transform: translate(-50%, -50%);
}
